<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create new book</title>
    <style>
        th, tr {
            border: 1px solid black;
        }
        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Book Detail</h1>

<p>
    <button>
        <a href="/book/">Back to book list</a>
    </button>
</p>

<th:block th:if="${message}">
    <p style="color:red" th:text="${message}"></p>
</th:block>

<form action="/book/rent" method="post" th:object="${book}">
    <table>
        <tr>
            <td>
                <label for="id">ID: </label>
            </td>
            <td>
                <input type="text" id="id" th:value="*{id}" th:field="*{id}" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">Name: </label>
            </td>
            <td>
                <input type="text" id="name" th:value="*{name}" th:field="*{name}" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <label th:for="numberAvailable">Number Available: </label>
            </td>
            <td>
                <input type="number" id="numberAvailable" th:value="*{numberAvailable}" th:field="*{numberAvailable}" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <label th:for="description">Description: </label>
            </td>
            <td>
                <textarea id="description" th:text="*{description}" th:field="*{description}" rows="5" cols="20" readonly></textarea>
            </td>
        </tr>
    </table>
    <button type="submit" name="rent" value="yes">Rent</button>
    <button type="submit" name="rent" value="no">Cancel</button>
</form>
</body>
</html>