<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>product list</title>
    <style>
        th, td {
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Product list</h1>
<div th:insert="~{/fragments/navbar::navbar}"></div>
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/product/create">
        Create new product
    </a>

    <form th:action="@{/product/search}" method="get">
        <div class="form-row">
            <div class="col-5">
                <input name="searchByName" th:value="${name}" class="form-control" type="search" aria-label="Search"
                       placeholder="product name">
            </div>
            <div class="col">
                <input name="fromPrice" th:value="${fromPrice}" class="form-control" type="search" aria-label="Search"
                       placeholder="from price">
            </div>
            <div class="col">
                <input name="toPrice" th:value="${toPrice}" class="form-control" type="search" aria-label="Search"
                       placeholder="to price">
            </div>
            <div class="col">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </form>
</nav>

<!--<form th:action="@{/product/search}" method="get" class="form-inline">-->
<!--    <div class="form-row">-->
<!--        <div class="col-3">-->
<!--            <input name="searchByName" th:value="${search}" class="form-control" type="search" aria-label="Search" placeholder="product name">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <input name="searchByProductPrice" th:value="${search2}" class="form-control" type="search" aria-label="Search" placeholder="product price">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<th:block th:if="${message}">
    <p style="color: red" th:text="${message}"></p>
</th:block>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Manufacture</th>
        <th scope="col">Production Date</th>
        <th scope="col">Category</th>
        <th scope="col">Price($)</th>
        <th scope="col" colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product, counter : ${products}">
        <tr>
            <th scope="row" th:text="${counter.count}"></th>
            <td th:text="${product.id}"></td>
            <td id="productName" th:text="${product.name}"></td>
            <td th:text="${product.manufacture}"></td>
            <td th:text="${product.productionDate}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/product/view/__${product.id}__}">
                    <button type="button" class="btn btn-primary">View</button>
                </a>
            </td>
            <td>
                <a th:href="@{/product/edit/__${product.id}__}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <!--                <a th:href="@{/product/delete/__${product.id}__}">-->
                <!--                    <button type="button" class="btn btn-delete" data-toggle="modal" data-target="#exampleModalCenter">Delete</button>-->
                <!--                </a>-->
                <a th:href="@{/product/delete/__${product.id}__}" class="btn btn-danger btn-delete">Delete</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<!-- Modal ---------------->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong id="modalProductName" style="color: red">Delete this product</strong>
            </div>
            <div class="modal-footer">
                <button type="submit" name="confirmDelete" value="no" class="btn btn-secondary"
                        data-dismiss="modal">Cancel
                </button>
                <a href="" type="button" class="btn btn-danger" id="btnDelete">Delete</a>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--                <h3 class="modal-title pull-right" id="myModalLabel">!!!!!!xx</h3>-->

<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p class="alert alert-danger pull-right" th:text="abc"></p>-->

<!--            </div>-->

<!--            <div class="modal-footer">-->
<!--                <a href="" type="button" class="btn btn-danger" id="btnDelteYes">xx</a>-->
<!--                <button type="button" class="btn btn-default" data-dismiss="modal">xx</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--Pagination----------------->
<div>
    <a th:href="@{'/product/list'(page=${products.number - 1})}"
       th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product/list'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    $('.btn-delete').on('click', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        $('#myModal #btnDelete').attr('href', href);

        $('#myModal').modal();
    });
</script>
</body>
</html>