<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .card {
            text-align: center;
        }
    </style>
</head>
<body>
<input type="hidden" name="isSuccess" th:value="${message}" id="is-success">
<div class="container mt-3">
    <div class="row">
        <!--        Order product---------------->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="${product.img}" width="150" height="300" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Mã SP:' + ${product.id}"></h5>
                    <p class="card-text" th:text="'Giá: ' + ${product.price} + '$'"></p>
                    <a id="buy-btn" th:href="@{/product/add/__${product.id}__}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <h4 th:text="${product.name}"></h4>
            <hr>
            <p th:text="${product.description}"></p>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<!--Notification Modal--------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding Successfully</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                What do you want to do next?
            </div>
            <div class="modal-footer">
                <a href="/cart/shopping-cart" class="btn btn-secondary">Go to cart</a>
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Go to cart</button>-->
                <a href="/product/shop" class="btn btn-primary back-to-list">Keep shopping</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function (event) {
        // $('#buy-btn').click(function (event) {
        //     event.preventDefault();
        //     const link = $(this).attr('href');
        //     $('.back-to-list').attr('href', link);
        //     $('#exampleModal').modal();
        // })
        if($('#is-success').val() === "successfully") {
            $('#exampleModal').modal();
        }
    })
</script>
</body>
</html>