<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>create order</title>
    <style>
        ul {
            list-style: none;
        }
    </style>
</head>
<body>
<h1>Create Order</h1>
<p>
    <a href="/order/list">Order list</a>
</p>

<!--<th:block th:if="${message}">-->
<!--    <p style="color: red" th:text="${message}"></p>-->
<!--</th:block>-->

<form th:action="@{/order/create}" th:object="${order}" method="post">
    <input type="hidden" name="isSuccess" th:value="${message}" id="is-success">
    <div class="form-group">
        <label for="exampleInputEmail1">Code</label>
        <input th:field="*{code}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="production-date">Order Date</label>
        <input th:field="*{orderDate}" type="date" class="form-control" id="production-date">
    </div>
    <div class="form-group">
        Products:
        <ul>
            <li th:each="product : ${products}">
                <label th:for="${product.id}" th:text="${product.name}"></label>
                <input type="checkbox" name="chosenProducts"
                       th:id="${product.id}"
                       th:value="${product.id}"
                       th:field="*{products}">
            </li>
        </ul>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Modal ------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">NOTIFICATION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Creating Successfully
            </div>
            <div class="modal-footer">
                <a href="/order/list" class="btn btn-secondary">Back to list</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Keep create</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        if ($('#is-success').val() === "yes") {
            $('#exampleModal').modal();
        }
    })
</script>
</body>
</html>