<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>phone list</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<form id="add-smartphone">
    <input type="hidden" id="id">
    <table>
        <tr>
            <td>Producer:</td>
            <td><input type="text" id="producer" placeholder="producer"></td>
        </tr>
        <tr>
            <td>Model:</td>
            <td><input type="text" id="model" placeholder="model"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" id="price" placeholder="price"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add" onclick="addNewSmartPhone()"></td>
            <td><input type="submit" value="Edit" onclick="editSmartPhone()" id="edit-smartphone"></td>
        </tr>
    </table>
</form>

<h1>Smartphone List</h1>
<table id="smartphoneList">
    <tr>
        <td>Producer</td>
        <td>Model</td>
        <td>Price</td>
        <td>Delete</td>
        <td>Edit</td>
    </tr>
    <th:block th:each="smartphone: ${smartphones}">
        <tr>
            <td th:text="${smartphone.producer}"></td>
            <td th:text="${smartphone.model}"></td>
            <td th:text="${smartphone.price}"></td>
            <td><a class="deleteSmartphone" th:href="${smartphone.getId()}">Delete</a></td>
            <td><a class="editSmartphone" th:href="${smartphone.getId()}">Edit</a></td>
        </tr>
    </th:block>
</table>

<script>
    function addNewSmartPhone() {
        // get data
        let producer = $('#producer').val();
        let model = $('#model').val();
        let price = $('#price').val();
        let newSmartphone = {
            producer : producer,
            model : model,
            price : price
        };

        // call ajax
        $.ajax({
            headers: {
                'Accept' : 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(newSmartphone), // convert newSmartphone to JSON
            url: "/smartphone",
            // success: console.log('success')
            success: successHandler
        });

        // event.preventDefault();
    }

    function editSmartPhone() {
        let id = $('#id').val();
        let producer = $('#producer').val();
        let model = $('#model').val();
        let price = $('#price').val();
        let smartphone = {
            id: id,
            producer: producer,
            model: model,
            price: price
        }

        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            type: "PUT",
            data: JSON.stringify(smartphone),
            url: "/smartphone/edit",
            success: successHandler
        });
    }

    // $(document).on("click", "#edit-smartphone", function (event) {
    //     editSmartPhone();
    //     event.preventDefault();
    // })

    function getSmartphone(smartphone) {
        return `<tr><td>${smartphone.producer}</td><td >${smartphone.model}</td><td>${smartphone.price}</td>` +
            `<td><a class="deleteSmartphone" href="${smartphone.id}">Delete</a></td>` +
            `<td><a class="editSmartphone" href="${smartphone.id}">Edit</a></td></tr>`;
    }

    function successHandler() {
        $.ajax({
            type: "GET",
            url: "/smartphone",
            success: function (data) {
                // show list here
                let content = '<tr>\n' +
                    '        <td>Producer</td>\n' +
                    '        <td>Model</td>\n' +
                    '        <td>Price</td>\n' +
                    '        <td>Delete</td>\n' +
                    '        <td>Edit</td>\n' +
                    '    </tr>';
                for (let i = 0; i < data.length; i++) {
                    content += getSmartphone(data[i]);
                }
                document.getElementById('smartphoneList').innerHTML = content;
            }
        });
    }

    $(document).ready(function () {
        $('.deleteSmartphone').click(function (event) {
            let obj = $(this);
            let smartPhoneId = obj.attr("href");

            $.ajax({
                type: "DELETE",
                url: `/smartphone/${smartPhoneId}`,
                success: function (data) {
                    obj.parent().parent().remove();
                }
            });

            event.preventDefault();
        });

        $('.editSmartphone').click(function (event) {
            let smartphoneId = $(this).attr("href");

            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: `/smartphone/edit/${smartphoneId}`,
                success: function (data) {
                    $('#id').val(smartphoneId);
                    $('#producer').val(data.producer);
                    $('#model').val(data.model);
                    $('#price').val(data.price);
                }
            });
            event.preventDefault();
        });
    })
</script>
</body>
</html>